.tundra2.*
t2-output
/.vscode
/.vs
/win
/macosx
/mac
/apple
/metal
/linux
/way
/x11
/vs
/vs
/mingw
/build
/build-*
/build_*
/xcode
/bin
/web
/.history
.gradle
.idea
.cxx
build
/build_*
/build-*
kk
vc
cmake-build-debug
cmake-build-debug-emscripten
cmake-build-release
cmake-build-release-emscripten
.cache
tests/.DS_Store
**/.DS_Store
tools/dos/djgpp
tools/dos/dosbox-x
tools/dos/gdb
*.bak
